<header>
<h1>Kebab Party !</h1>
<h2>Miam, ici on mange bien et gras !</h2>
</header>
<div class="container">

  <div class="titre1">
    <h3>Présentation</h3>
    <p class="description">
    <div class="button">Cliquez-ici</div>
      <ul class="resto">
        <li>Kebab familial crée en 1993</li>
        <li>Elu meilleur Kebab de France par Kebab Magazine en 2016</li>
        <li>Testé et approuvé par Barack Obama</li>
        </p>
      </ul>
  </div>

  <div class="titre2">
    <h3>Menu</h3>
    <p class="description">
    <div class="button">Cliquez-ici</div>
      <ul class="resto">
        <li>Kebab: 7€</li>
        <li>Chicken: 8€</li>
        <li>Agneau: 10€</li>
        </p>
      </ul>
  </div>

  <div class="titre3">
    <h3>Nos Restaurants</h3>
    <p class="description">
    <div class="button">Cliquez-ici</div>
      <ul class="resto">
        <li>2 rue du Jean Bon, 75000 Paris</li>
        <li>13 rue Qué Babe, 13000 Marseille</li>
        <li>94 rue de la Pomme, 75013 Paris</li>
        </p>
      </ul>
  </div>

</div>

<%= javascript_include_tag 'index.js' %>
